<!-- Menu Start -->
<section class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Food Menu
      </h5>
      <h1 class="mb-5">Our Special Menu</h1>
    </div>

    <!-- Tabs  -->
    <!-- Tabs  -->
    <ul
      class="nav nav-pills justify-content-center mb-4"
      id="pills-tab"
      role="tablist"
    >
      <li class="nav-item rounded-3">
        <button
          class="nav-link active"
          type="button"
          role="tab"
          aria-controls="indian-food"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-indian-food"
        >
          Indian Food
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="pasta"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-pasta"
        >
          pasta
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Pizza"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Pizza"
        >
          Pizza
        </button>
      </li>

      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="burger"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-burger"
        >
          Burger
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Schnitzel"
          aria-selected="true"
          data-bs-toggle="pill"
          data-bs-target="#pills-Schnitzel"
        >
          Schnitzel
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Wrap"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Wrap"
        >
          Wrap
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Salad
        "
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Salad"
        >
          Salad
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Beilagen"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Beilagen"
        >
          Beilagen
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Pizza-Brötchen"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Pizza-Brötchen"
        >
          Pizza Brötchen
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Kid-Pizza"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Kid-Pizza"
        >
          Kid Pizza
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="kids-Menu"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Kids-Menu"
        >
          Kids Menu
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Finger-Food"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Finger-Food"
        >
          Finger Food
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Dessert"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Dessert"
        >
          Dessert
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Dips"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Dips"
        >
          Dips
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button
          class="nav-link"
          type="button"
          role="tab"
          aria-controls="Iced-Coffee"
          aria-selected="false"
          data-bs-toggle="pill"
          data-bs-target="#pills-Iced-Coffee"
        >
          Iced Coffee
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade active show"
        id="pills-indian-food"
        role="tabpanel"
        aria-labelledby="pills-indian-food-tab"
      >
        <div class="row foodCart foodCartActive"></div>
      </div>

      <!-- Pasta -->
      <div
        class="tab-pane fade"
        id="pills-pasta"
        role="tabpanel"
        aria-labelledby="pills-pasta-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Pizza -->
      <div
        class="tab-pane fade"
        id="pills-Pizza"
        role="tabpanel"
        aria-labelledby="pills-Pizza-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Burger -->
      <div
        class="tab-pane fade"
        id="pills-burger"
        role="tabpanel"
        aria-labelledby="pills-burger-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Schnitzel -->
      <div
        class="tab-pane fade"
        id="pills-Schnitzel"
        role="tabpanel"
        aria-labelledby="pills-Schnitzel-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Wrap -->
      <div
        class="tab-pane fade"
        id="pills-Wrap"
        role="tabpanel"
        aria-labelledby="pills-Wrap-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Salad -->
      <div
        class="tab-pane fade"
        id="pills-Salad"
        role="tabpanel"
        aria-labelledby="pills-Salad-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Beilagen -->
      <div
        class="tab-pane fade"
        id="pills-Beilagen"
        role="tabpanel"
        aria-labelledby="pills-Pizza-Brötchen-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Pizza Brötchen -->
      <div
        class="tab-pane fade"
        id="pills-Pizza-Brötchen"
        role="tabpanel"
        aria-labelledby="pills-Pizza-Brötchen-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Kid Pizza -->
      <div
        class="tab-pane fade"
        id="pills-Kid-Pizza"
        role="tabpanel"
        aria-labelledby="pills-Kid-Pizza-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Kids Menu -->
      <div
        class="tab-pane fade"
        id="pills-Kids-Menu"
        role="tabpanel"
        aria-labelledby="pills-Kids-Menu-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Finger Food -->
      <div
        class="tab-pane fade"
        id="pills-Finger-Food"
        role="tabpanel"
        aria-labelledby="pills-Finger-Food-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Dessert -->
      <div
        class="tab-pane fade"
        id="pills-Dessert"
        role="tabpanel"
        aria-labelledby="pills-Dessert-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Dips -->
      <div
        class="tab-pane fade"
        id="pills-Dips"
        role="tabpanel"
        aria-labelledby="pills-Dips-tab"
      >
        <div class="row foodCart"></div>
      </div>

      <!-- Iced Coffee -->
      <div
        class="tab-pane fade"
        id="pills-Iced-Coffee"
        role="tabpanel"
        aria-labelledby="pills-Iced-Coffee-tab"
      >
        <div class="row foodCart"></div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalTitle">Product Details</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" id="productModalBody">

      </div>
      <div class="modal-footer">
<!-- <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Modal -->
<!-- <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalTitle">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="productModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->


<script>
  const closeBtns = document.querySelectorAll('.close');

  closeBtns.forEach(btn => {
    btn.addEventListener('click', ()=> {
      console.log("🚀 ~ btn:", btn)
      // btn.modal('hide')
    })
  })

  const productContainers = document.querySelectorAll(".foodCart");
  const tabs = document.querySelectorAll(".nav-link");
  let pizzaPrice;
  let pizzaSize;

  tabs.forEach((tab) => {
    tab.addEventListener("click", function () {
      const tabName = this.textContent.trim();

      fetch(
        `https://jokerpalace.de/api/admin/getProducts?tabName=${encodeURIComponent(
          tabName
        )}`
      )
        .then((response) => response.json())
        .then((data) => {
          console.log("API response:", data);

          productContainers.forEach((productContainer) => {
            // Clear existing content inside each product container
            productContainer.innerHTML = "";

            // Append new elements based on response data
            data.data.forEach((product) => {
              if (product.category === "Pizza") {
                const card = document.createElement("div");
                card.classList.add("col-md-6", "col-xl-4");
                card.innerHTML = `
                            <div class="card mb-3">
                                <div class="row g-0" id="${product.unitId}">
                                    <div class="row g-0">
                                        <div class="col-lg-4 d-flex justify-content-center p-2">
                                            <img src="/uploads/products/${product.imageUrl}" class="img-fluid rounded-3 w-100" alt="${product.name}">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body">
                                                <h1 class="category d-none ">${product.category}</h1>  
                                                <h5 class="card-title">${product.name}</h5>
                                                <p class="card-text clamp-line-3">${product.description}</p>
                                                <div class="card_bottom">
                                                    <select class="sizeSelect form-select mb-3" aria-label="Select size">
                                                      <option selected >Select Size </option>
                                                        <option  value="Mini" data-size="Mini" data-price="${product.Mini}">${product.Mini} € - Mini</option>
                                                        <option value="Medium" data-size="Medium" data-price="${product.Medium}">${product.Medium} € - Medium</option>
                                                        <option value="Maxi" data-size="Maxi" data-price="${product.Maxi}">${product.Maxi} € - Maxi</option>
                                                        <option value="Pan" data-size="Pan" data-price="${product.Pan}">${product.Pan} € - Pan</option>
                                                    </select>
                                                    <button class="btn btn-primary addToCart" onclick="addToCart('${product.unitId}')" id="clickMe">Add To Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                productContainer.appendChild(card); // Append card to the current product container

                // Add event listener to the select dropdown
                const selectDropdown = card.querySelector(".sizeSelect");
                selectDropdown.addEventListener("change", function () {
                  const selectedOption = this.options[this.selectedIndex];
                  const selectedSize = selectedOption.getAttribute("data-size");
                  const selectedPrice =
                    selectedOption.getAttribute("data-price");
                  pizzaSize = selectedSize;
                  pizzaPrice = selectedPrice;
                  console.log("Selected size:", selectedSize);

                  console.log("Selected price:", selectedPrice);
                });
              } else {
                const card = document.createElement("div");
                card.classList.add("col-md-6", "col-xl-4");
                card.innerHTML = `
                            <div class="card mb-3">
                                <div class="row g-0" id="${product.unitId}">
                                    <h1 class="category d-none ">${product.category}</h1>   
                                    <div class="row g-0">
                                        <div class="col-lg-4 d-flex justify-content-center p-2">
                                            <img src="/uploads/products/${product.imageUrl}" class="img-fluid rounded-3 w-100" alt="${product.name}">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body">
                                                <h5 class="card-title">${product.name}</h5>
                                                <p class="card-text clamp-line-3">${product.description}</p>
                                                <div class="card_bottom">
                                                    <input type="text" value="${product.unitPrice}" class="Price" style="display: none;">
                                                    <h6>${product.unitPrice} €</h6>
                                                    <button class="btn btn-primary addToCart" onclick="addToCart('${product.unitId}')" id="clickMe">Add To Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                productContainer.appendChild(card); // Append card to the current product container
              }
            });
          });
        })
        .catch((error) => console.error("Error fetching data:", error));
    });
  });
</script>

<script>
  $(document).ready(function () {
    const productContainers = document.querySelectorAll(".foodCartActive");
    const tabName = "Indian Food";

    fetch(
      `https://jokerpalace.de/api/admin/getProducts?tabName=${encodeURIComponent(
        tabName
      )}`
    )
      .then((response) => response.json())
      .then((data) => {
        // Handle API response
        console.log("API response:", data);

        // Loop through each product container
        productContainers.forEach((productContainer) => {
          // Clear existing content inside each product container
          productContainer.innerHTML = "";

          // Append new elements based on response data
          data.data.forEach((product) => {
            const card = document.createElement("div");
            card.classList.add("col-md-6", "col-xl-4");
            card.innerHTML = `
                            <div class="card mb-3">
                                <div class="row g-0" id="${product.unitId}" >
                                    <div class="col-lg-4 d-flex justify-content-center p-2">
                                      <h1 class="category d-none ">${product.category}</h1>
   
                                        <img src="/uploads/products/${product.imageUrl}" class="img-fluid rounded-3 menu_image" alt="${product.name}">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title">${product.name}</h5>
                                            <p class="card-text clamp-line-3">${product.description}</p>
                                            <div class="card_bottom">
                                              <input type="text" value="${product.unitPrice}" class="Price" style="display: none;">

                                              <h6>${product.unitPrice} €</h6>
                                                <button class="btn btn-primary addToCart" onclick="addToCart('${product.unitId}')" id="clickMe">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
            productContainer.appendChild(card); // Append card to the current product container
          });
        });
      })
      .catch((error) => console.error("Error fetching data:", error));
  });


  let cartCountElm = document.getElementById("cart__count");
  let mobileCountElm = document.getElementById("mobileCount");
  let cartCount = Number(cartCountElm.innerHTML);
  let mobileCout = Number(mobileCountElm.innerHTML);

  function getCartCount() {
    let cartCount = window.localStorage.getItem("cartCount");
    return cartCount ? parseInt(cartCount) : 0;
  }

  function updateCartCount(count) {
    window.localStorage.setItem("cartCount", count.toString());
    cartCountElm.innerHTML = count.toString();
    mobileCountElm.innerHTML = count.toString();
  }

  function addToCart(productId) {
 
  
    let id = document.getElementById(productId);
    let category = id.querySelector(".category").textContent.trim();
    let order;
    let title;
    let description;
    let price;
    let imageSrc;
    let size
    if (category === "Pizza") {
      console.log("🚀 ~ addToCart ~ category:", category);
      title = id.querySelector(".card-title").textContent.trim();
      description = id.querySelector(".card-text").textContent.trim();
      imageSrc = id.querySelector(".img-fluid").getAttribute("src");
         
      product = {
        productId: productId,
        productName: title,
        description: description,
        Price: pizzaPrice,
        Quenty: 1,
        imageSrc: imageSrc,
        size: pizzaSize,
        category: category,
      };
      console.log("The objecgt of Pizza", product)
      
      function openModal(product) {
  // Clear previous content
  document.getElementById("productModalBody").innerHTML = "";

  // Create card element
  const card = document.createElement("div");
  card.classList.add("card", "mb-3");
 
  // Create inner HTML for the card
  card.innerHTML = `
    <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1> 
        <h1 class="category d-none " id="size" >${product.size}</h1>   
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;

  // Append card to modal body
  document.getElementById("productModalBody").appendChild(card);

  // Open modal
  $('#productModal').modal('show');
}

// Function to handle click event on product card


openModal(product);



      

    } else {
      console.log("🚀 ~ addToCart ~ category:", category);
      title = id.querySelector(".card-title").textContent.trim();
      description = id.querySelector(".card-text").textContent.trim();
      price = id.querySelector(".Price").value;
      imageSrc = id.querySelector(".img-fluid").getAttribute("src");
      product = {
        productId: productId,
        productName: title,
        category:category,
        description: description,
        Price: price,
        Quenty: 1,
        imageSrc: imageSrc,
        category: category,
      };


      function openModal(product) {
  // Clear previous content
  document.getElementById("productModalBody").innerHTML = "";

  // Create card element
  const card = document.createElement("div");
  card.classList.add("card", "mb-3");
 
  // Create inner HTML for the card
  card.innerHTML = `
    <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1>  
        <h1 class="category d-none " id="size" >noSize</h1> 
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;

  // Append card to modal body
  document.getElementById("productModalBody").appendChild(card);

  // Open modal
  $('#productModal').modal('show');
}

// Function to handle click event on product card


openModal(product);




    }

  
 // Function to open modal with product details
 
}



  //   // function getAllCookies() {
  //   //   const cookies = document.cookie.split("; ");
  //   //   const cookieMap = {};

  //   //   cookies.forEach((cookie) => {
  //   //     const [name, value] = cookie.split("=");
  //   //     cookieMap[name] = decodeURIComponent(value);
  //   //   });

  //   //   return cookieMap;
  //   // }

  //   // let orderToken = getAllCookies();
  //   // orderToken = orderToken.order || "";
  //   function getOrder() {
  //     let cartOrder = window.localStorage.getItem("order");
  //     return cartOrder ? cartOrder : "";
  //   }
  //   let orderToken = getOrder();
  //   console.log("The get order from local storage is ", getOrder());

  //   let payload = {
  //     orderToken: orderToken,
  //     order: order,
  //   };

  //   let payloadJSON = JSON.stringify(payload);

  //   let url = "https://jokerpalace.de/api/user/addToCart";

  //   fetch(url, {
  //     method: "POST",
  //     headers: {
  //       "Content-Type": "application/json",
  //     },
  //     body: payloadJSON,
  //   })
  //     .then((response) => response.json()) // Parse response as JSON
  //     .then((data) => {
  //       console.log("Response data:", data);
  //       if (data?.statusCode === 201) {
  //         let cartCount = getCartCount() + 1;
  //         localStorage.setItem("order", data.data);
  //         updateCartCount(cartCount);
  //       }
  //       Swal.fire({
  //         title: data?.message,
  //         icon: "success",
  //         confirmButtonText: "OK",
  //       });
  //     })
  //     .catch((error) => {
  //       console.error("Error:", error);
  //     });

function ProductAddToCart(id){

  $('#productModal').modal('hide');
  var categoryValue = document.getElementById("category").innerHTML;
  var proNameValue = document.getElementById("proName").innerHTML;
  var proDesValue = document.getElementById("proDes").innerHTML;
  var priceValue = document.getElementById("price").value;
  var quantityValue = document.getElementById("quantity").value;
  var src = document.getElementById("src").src;
  var size = document.getElementById("size").innerHTML;
console.log("The size of pizza",size)
console.log("🚀 ~ ProductAddToCart ~ id:", id)
console.log("Category:", categoryValue);
console.log("Product Name:", proNameValue);
console.log("Product Description:", proDesValue);
console.log("Price:", priceValue);
console.log("Quantity:", quantityValue);

   let productOrder ={
        productId: id,
        productName: proNameValue,
        category:categoryValue,
        description: proDesValue,
        Price: priceValue,
        Quenty: quantityValue,
        imageSrc: src,  
        size:size,
   }

   if(categoryValue === "Pizza"){
    productOrder.size = size
   }
    function getOrder() {
      let cartOrder = window.localStorage.getItem("order");
      return cartOrder ? cartOrder : "";
    }
    let orderToken = getOrder();
    console.log("The get order from local storage is ", getOrder());


    let payload = {
      orderToken: orderToken,
      order: productOrder,
    };

    let payloadJSON = JSON.stringify(payload);
   
    let url = "https://jokerpalace.de/api/user/addToCart";
              
    fetch(url, {  
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: payloadJSON,
    })  
      .then((response) => response.json()) // Parse response as JSON
      .then((data) => {
        console.log("Response data:", data);
        if (data?.statusCode === 201) {
          let cartCount = getCartCount() + 1;
          localStorage.setItem("order", data.data);
          updateCartCount(cartCount);
        }
        Swal.fire({
          title: data?.message,
          icon: "success",
          confirmButtonText: "OK",
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });


}

</script>
 



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js">
  

  