<!-- Menu Start -->
<section class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Food Menu
      </h5>
      <h1 class="mb-5">Our Special Menu</h1>
    </div>

    <!-- Tabs  -->
    <!-- Tabs  -->
    <ul class="nav nav-pills justify-content-center mb-4" id="pills-tab" role="tablist">
      <li class="nav-item rounded-3">
        <button class="nav-link active" type="button" role="tab" aria-controls="indian-food" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-indian-food">
          Indian Food
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="pasta" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-pasta">
          pasta
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Pizza" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Pizza">
          Pizza
        </button>
      </li>

      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="burger" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-burger">
          Burger
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Schnitzel" aria-selected="true"
          data-bs-toggle="pill" data-bs-target="#pills-Schnitzel">
          Schnitzel
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Wrap" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Wrap">
          Wrap
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Salad
        " aria-selected="false" data-bs-toggle="pill" data-bs-target="#pills-Salad">
          Salad
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Beilagen" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Beilagen">
          Beilagen
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Pizza-Brötchen" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Pizza-Brötchen">
          Pizza Brötchen
        </button>
      </li>
   
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Finger-Food" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Finger-Food">
          Finger Food
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Dessert" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Dessert">
          Dessert
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Dips" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Dips">
          Dips
        </button>
      </li>
      <li class="nav-item rounded-3">
        <button class="nav-link" type="button" role="tab" aria-controls="Iced-Coffee" aria-selected="false"
          data-bs-toggle="pill" data-bs-target="#pills-Iced-Coffee">
          Iced Coffee
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade active show" id="pills-indian-food" role="tabpanel"
        aria-labelledby="pills-indian-food-tab">
        <div class="row foodCart foodCartActive"></div>
      </div>

      <!-- Pasta -->
      <div class="tab-pane fade" id="pills-pasta" role="tabpanel" aria-labelledby="pills-pasta-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Pizza -->
      <div class="tab-pane fade" id="pills-Pizza" role="tabpanel" aria-labelledby="pills-Pizza-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Burger -->
      <div class="tab-pane fade" id="pills-burger" role="tabpanel" aria-labelledby="pills-burger-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Schnitzel -->
      <div class="tab-pane fade" id="pills-Schnitzel" role="tabpanel" aria-labelledby="pills-Schnitzel-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Wrap -->
      <div class="tab-pane fade" id="pills-Wrap" role="tabpanel" aria-labelledby="pills-Wrap-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Salad -->
      <div class="tab-pane fade" id="pills-Salad" role="tabpanel" aria-labelledby="pills-Salad-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Beilagen -->
      <div class="tab-pane fade" id="pills-Beilagen" role="tabpanel" aria-labelledby="pills-Pizza-Brötchen-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Pizza Brötchen -->
      <div class="tab-pane fade" id="pills-Pizza-Brötchen" role="tabpanel" aria-labelledby="pills-Pizza-Brötchen-tab">
        <div class="row foodCart"></div>
      </div>
      <!-- Kids Menu -->
      <div class="tab-pane fade" id="pills-Kids-Menu" role="tabpanel" aria-labelledby="pills-Kids-Menu-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Finger Food -->
      <div class="tab-pane fade" id="pills-Finger-Food" role="tabpanel" aria-labelledby="pills-Finger-Food-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Dessert -->
      <div class="tab-pane fade" id="pills-Dessert" role="tabpanel" aria-labelledby="pills-Dessert-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Dips -->
      <div class="tab-pane fade" id="pills-Dips" role="tabpanel" aria-labelledby="pills-Dips-tab">
        <div class="row foodCart"></div>
      </div>

      <!-- Iced Coffee -->
      <div class="tab-pane fade" id="pills-Iced-Coffee" role="tabpanel" aria-labelledby="pills-Iced-Coffee-tab">
        <div class="row foodCart"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalTitle">Product Details</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body" id="productModalBody">

        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</section>



<%- include('service.ejs'); %>

  <%- include('about.ejs'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Modal -->
    <!-- <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalTitle">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="productModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->


    <script>
      const closeBtns = document.querySelectorAll('.close');

      closeBtns.forEach(btn => {
        btn.addEventListener('click', () => {
          console.log("🚀 ~ btn:", btn)
          // btn.modal('hide')
        })
      })

      const productContainers = document.querySelectorAll(".foodCart");
      const tabs = document.querySelectorAll(".nav-link");
      let pizzaPrice;
      let pizzaSize;

      tabs.forEach((tab) => {
        tab.addEventListener("click", function () {
          const tabName = this.textContent.trim();

          fetch(
            `https://jokerpalace.de/api/admin/getProducts?tabName=${encodeURIComponent(
              tabName
            )}`
          )
            .then((response) => response.json())
            .then((data) => {
              console.log("API response:", data);

              productContainers.forEach((productContainer) => {
                // Clear existing content inside each product container
                productContainer.innerHTML = "";

                // Append new elements based on response data
                data.data.forEach((product) => {
                  if (product.category === "Pizza") {
                    const card = document.createElement("div");
                    card.classList.add("col-md-6", "col-xl-4");
                    card.innerHTML = `
                            <div class="card mb-3">
                                <div class="row g-0" id="${product.unitId}">
                                    <div class="row g-0">
                                        <div class="col-lg-4 d-flex justify-content-center p-2">
                                            <img src="/uploads/products/${product.imageUrl}" class="img-fluid rounded-3 w-100" alt="${product.name}">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body">
                                                <h1 class="category d-none ">${product.category}</h1>  
                                                <h5 class="card-title">${product.name}</h5>
                                                <p class="card-text clamp-line-3">${product.description}</p>
                                                <div class="card_bottom">
                                                    <select class="sizeSelect form-select mb-3" aria-label="Select size">
                                                      <option selected >Select Size </option>
                                                        <option  value="Mini" data-size="Mini" data-price="${product.Mini}">${product.Mini} € - Mini</option>
                                                        <option value="Medium" data-size="Medium" data-price="${product.Medium}">${product.Medium} € - Medium</option>
                                                        <option value="Maxi" data-size="Maxi" data-price="${product.Maxi}">${product.Maxi} € - Maxi</option>
                                                        <option value="Pan" data-size="Pan" data-price="${product.Pan}">${product.Pan} € - Pan</option>
                                                    </select>
                                                    <button class="btn btn-primary addToCart" onclick="addToCart('${product.unitId}')" id="clickMe">Add To Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                    productContainer.appendChild(card); // Append card to the current product container

                    // Add event listener to the select dropdown
                    const selectDropdown = card.querySelector(".sizeSelect");
                    selectDropdown.addEventListener("change", function () {
                      const selectedOption = this.options[this.selectedIndex];
                      const selectedSize = selectedOption.getAttribute("data-size");
                      const selectedPrice =
                        selectedOption.getAttribute("data-price");
                      pizzaSize = selectedSize;
                      pizzaPrice = selectedPrice;
                      console.log("Selected size:", selectedSize);

                      console.log("Selected price:", selectedPrice);
                    });
                  } else {
                    const card = document.createElement("div");
                    card.classList.add("col-md-6", "col-xl-4");
                    card.innerHTML = `
                            <div class="card mb-3">
                                <div class="row g-0" id="${product.unitId}">
                                    <h1 class="category d-none ">${product.category}</h1>   
                                    <div class="row g-0">
                                        <div class="col-lg-4 d-flex justify-content-center p-2">
                                            <img src="/uploads/products/${product.imageUrl}" class="img-fluid rounded-3 w-100" alt="${product.name}">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="card-body">
                                                <h5 class="card-title">${product.name}</h5>
                                                <p class="card-text clamp-line-3">${product.description}</p>
                                                <div class="card_bottom">
                                                    <input type="text" value="${product.unitPrice}" class="Price" style="display: none;">
                                                    <h6>${product.unitPrice} €</h6>
                                                    <button class="btn btn-primary addToCart" onclick="addToCart('${product.unitId}')" id="clickMe">Add To Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                    productContainer.appendChild(card); // Append card to the current product container
                  }
                });
              });
            })
            .catch((error) => console.error("Error fetching data:", error));
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        const productContainers = document.querySelectorAll(".foodCartActive");
        const tabName = "Indian Food";

        fetch(
          `https://jokerpalace.de/api/admin/getProducts?tabName=${encodeURIComponent(
            tabName
          )}`
        )
          .then((response) => response.json())
          .then((data) => {
            // Handle API response
            console.log("API response:", data);

            // Loop through each product container
            productContainers.forEach((productContainer) => {
              // Clear existing content inside each product container
              productContainer.innerHTML = "";

              // Append new elements based on response data
              data.data.forEach((product) => {
                const card = document.createElement("div");
                card.classList.add("col-md-6", "col-xl-4");
                card.innerHTML = `
                            <div class="card mb-3">
                                <div class="row g-0" id="${product.unitId}" >
                                    <div class="col-lg-4 d-flex justify-content-center p-2">
                                      <h1 class="category d-none ">${product.category}</h1>
   
                                        <img src="/uploads/products/${product.imageUrl}" class="img-fluid rounded-3 menu_image" alt="${product.name}">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title">${product.name}</h5>
                                            <p class="card-text clamp-line-3">${product.description}</p>
                                            <div class="card_bottom">
                                              <input type="text" value="${product.unitPrice}" class="Price" style="display: none;">

                                              <h6>${product.unitPrice} €</h6>
                                                <button class="btn btn-primary addToCart" onclick="addToCart('${product.unitId}')" id="clickMe">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                productContainer.appendChild(card); // Append card to the current product container
              });
            });
          })
          .catch((error) => console.error("Error fetching data:", error));
      });


      let cartCountElm = document.getElementById("cart__count");
      let mobileCountElm = document.getElementById("mobileCount");
      let cartCount = Number(cartCountElm.innerHTML);
      let mobileCout = Number(mobileCountElm.innerHTML);

      function getCartCount() {
        let cartCount = window.localStorage.getItem("cartCount");
        return cartCount ? parseInt(cartCount) : 0;
      }

      function updateCartCount(count) {
        window.localStorage.setItem("cartCount", count.toString());
        cartCountElm.innerHTML = count.toString();
        mobileCountElm.innerHTML = count.toString();
      }

      function addToCart(productId) {


        let id = document.getElementById(productId);
        let category = id.querySelector(".category").textContent.trim();
        let order;
        let title;
        let description;
        let price;
        let imageSrc;
        let size
        if (category === "Pizza") {
          console.log("🚀 ~ addToCart ~ category:", category);
          title = id.querySelector(".card-title").textContent.trim();
          description = id.querySelector(".card-text").textContent.trim();
          imageSrc = id.querySelector(".img-fluid").getAttribute("src");

          product = {
            productId: productId,
            productName: title,
            description: description,
            Price: pizzaPrice,
            Quenty: 1,
            imageSrc: imageSrc,
            size: pizzaSize,
            category: category,
          };
          console.log("The objecgt of Pizza", product)

          function openModal(product) {
            // Clear previous content
            document.getElementById("productModalBody").innerHTML = "";

            // Create card element
            const card = document.createElement("div");
            card.classList.add("card", "mb-3");

            // Create inner HTML for the card
            card.innerHTML = `
    <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1> 
        <h1 class="category d-none " id="size" >${product.size}</h1>   
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;

            // Append card to modal body
            document.getElementById("productModalBody").appendChild(card);

            // Open modal
            $('#productModal').modal('show');
          }

          // Function to handle click event on product card


          openModal(product);





        }
        // model for deal
        else if (category === "Deal") {
          console.log("🚀 ~ addToCart ~ category:", category);
          title = id.querySelector(".card-title").textContent.trim();
          description = id.querySelector(".card-text").textContent.trim();
          price = id.querySelector(".Price").value;
          imageSrc = id.querySelector(".img-fluid").getAttribute("src");
          //  to store the information of deal 
          let dealInfo           
          product = {
            productId: productId,
            productName: title,
            category: category,
            description: description,
            Price: price,
            Quenty: 1,
            imageSrc: imageSrc,
            category: category,
          };
        


          function openModal(product) {
            // Clear previous content
            document.getElementById("productModalBody").innerHTML = "";

            // Create card element
            const card = document.createElement("div");

            // model For Burger Deal
            if (title === "Burger Deal") {


              card.classList.add("card", "mb-3");
              // Create inner HTML for the card
              card.innerHTML = `
                <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1>  
        <h1 class="category d-none " id="size" >noSize</h1> 
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <!-- Select menu for burger name -->
                            <div class="form-group">
                                <label for="DealBurger1">Select Burger1:</label>
                                <select id="DealBurger1" onchange="getSelectedValue(this)" class="form-control">
                                  <option value="">Select Burger 1</option>  
                                  <option value="Double Decker Burger">Double Decker Burger</option>
<option value="Cheese Burger Light">Cheese Burger Light</option>
<option value="Chilli Cheese Burger">Chilli Cheese Burger</option>
<option value="BBQ Burger">BBQ Burger</option>
<option value="Crunch Burger">Crunch Burger</option>
<option value="Veg Party Burger">Veg Party Burger</option>
<option value="Double Crunch Burger">Double Crunch Burger</option>
<option value="Mighty Zinger Burger">Mighty Zinger Burger</option>
<option value="Mexico Burger">Mexico Burger</option>
<option value="Coleslow Burger">Coleslow Burger</option>
<option value="Iron Man Burger">Iron Man Burger</option>

                                </select>
                            </div>

                     <!-- Select menu for burger2 name -->
                             
                            <div class="form-group">
                                <label for="DealBurger2">Select Burger2:</label>
                                <select id="DealBurger2" onchange="getSelectedValue(this)" class="form-control">
                                  <option value="">Select Burger 2</option>  

<option value="Double Decker Burger">Double Decker Burger</option>
<option value="Cheese Burger Light">Cheese Burger Light</option>
<option value="Chilli Cheese Burger">Chilli Cheese Burger</option>
<option value="BBQ Burger">BBQ Burger</option>
<option value="Crunch Burger">Crunch Burger</option>
<option value="Veg Party Burger">Veg Party Burger</option>
<option value="Double Crunch Burger">Double Crunch Burger</option>
<option value="Mighty Zinger Burger">Mighty Zinger Burger</option>
<option value="Mexico Burger">Mexico Burger</option>
<option value="Coleslow Burger">Coleslow Burger</option>
<option value="Iron Man Burger">Iron Man Burger</option>
                                    

                                </select>
                            </div>        

 <label for="DealBurger3">Select Beilagen 1:</label>
 <select id="DealBurger3" onchange="getSelectedValue(this)" class="form-control">
        <option value="">Select Beilagen 1 </option>
    <option value="Pommes">Pommes</option>
    <option value="Kroketten">Kroketten</option>
    <option value="Wedges">Wedges</option>
    <option value="Curly Fries">Curly Fries</option>
    <option value="Beilagen Salat">Beilagen Salat</option>
</select>

<label for="DealBurger4">Select Beilagen 2 :</label>
 <select id="DealBurger4" onchange="getSelectedValue(this)" class="form-control">
    <option value="">Select Beilagen 2 </option>
    <option value="Pommes">Pommes</option>
    <option value="Kroketten">Kroketten</option>
    <option value="Wedges">Wedges</option>
    <option value="Curly Fries">Curly Fries</option>
    <option value="Beilagen Salat">Beilagen Salat</option>
</select>


<label for="DealBurger5">Select Softgetränk:</label>
<select id="DealBurger5" onchange="getSelectedValue(this)" class="form-control">    
    <option value="">Select Softgetränk</option>
    <option value="Coca-Cola">Coca-Cola</option>
    <option value="Coca-Cola Zero">Coca-Cola Zero</option>
    <option value="Fanta">Fanta</option>
    <option value="Mezzo Mix">Mezzo Mix</option>
    <option value="Sprite">Sprite</option>
    <option value="Red Bull">Red Bull</option>
    <option value="Capri Sun Orange oder Multivitamin">Capri Sun Orange oder Multivitamin</option>
    <option value="Apfelsaft">Apfelsaft</option>
    <option value="Bitter Lemon">Bitter Lemon</option>
    <option value="Ginger Ale">Ginger Ale</option>
    <option value="Mango Lassi">Mango Lassi</option>
</select>



                            <h1 class="DealBurger1 d-none"></h1>
                            <h1 class="DealBurger2 d-none"></h1>
                            <h1 class="DealBurger3 d-none"></h1>
                            <h1 class="DealBurger4 d-none"></h1>
                            <h1 class="DealBurger5 d-none"></h1>

                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;

            
  
  }else if(title === "Joker Deal"){

    
              card.classList.add("card", "mb-3");

              // Create inner HTML for the card
           

              card.innerHTML = `
    <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1>  
        <h1 class="category d-none " id="size" >noSize</h1> 
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <!-- Select menu for burger name -->
                            <div class="form-group">
                                <label for="DealJoker1">Select Pizza1:</label>
                                <select id="DealJoker1" onchange="getSelectedValue(this)" class="form-control">
  
    <option value="">Select Pizza1</option>
    <option value="BBQ">BBQ</option>
    <option value="Bayern">Bayern</option>
    <option value="Bella">Bella</option>
    <option value="Bliss">Bliss</option>
    <option value="Bolognese">Bolognese</option>
    <option value="Brano Mia">Brano Mia</option>
    <option value="Broadway">Broadway</option>
    <option value="Burger">Burger</option>
    <option value="Chic">Chic</option>
    <option value="City">City</option>
    <option value="Crispy Slices">Crispy Slices</option>
    <option value="Diavolo">Diavolo</option>
    <option value="Downtown">Downtown</option>
    <option value="Döner">Döner</option>
    <option value="Extra Zutat">Extra Zutat</option>
    <option value="Firebox">Firebox</option>
    <option value="French Cheese">French Cheese</option>
    <option value="Fresh Slice">Fresh Slice</option>
    <option value="Half/Half">Half/Half</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Joker">Joker</option>
    <option value="Lover">Lover</option>
    <option value="Mango">Mango</option>
    <option value="Margherita">Margherita</option>
    <option value="Moon">Moon</option>
    <option value="Palace">Palace</option>
    <option value="Peperoniwurst">Peperoniwurst</option>
    <option value="Pizza Land">Pizza Land</option>
    <option value="Pizza Zoo">Pizza Zoo</option>
    <option value="Power">Power</option>
    <option value="Premium">Premium</option>
    <option value="Salami">Salami</option>
    <option value="Schinken">Schinken</option>
    <option value="Slice">Slice</option>
    <option value="Slice of Heaven">Slice of Heaven</option>
    <option value="Star">Star</option>
    <option value="Sucuk">Sucuk</option>
    <option value="Tonno">Tonno</option>
    <option value="Vegetaria">Vegetaria</option>
    <option value="Wow">Wow</option>                                    

                                </select>
                            </div>

                            <!-- Select menu for burger name -->
                            <div class="form-group">
                                <label for="DealJoker2">Select Pizza2:</label>
                               <select id="DealJoker2" onchange="getSelectedValue(this)" class="form-control">
    <option value="">Select Pizza2</option>
    <option value="BBQ">BBQ</option>
    <option value="Bayern">Bayern</option>
    <option value="Bella">Bella</option>
    <option value="Bliss">Bliss</option>
    <option value="Bolognese">Bolognese</option>
    <option value="Brano Mia">Brano Mia</option>
    <option value="Broadway">Broadway</option>
    <option value="Burger">Burger</option>
    <option value="Chic">Chic</option>
    <option value="City">City</option>
    <option value="Crispy Slices">Crispy Slices</option>
    <option value="Diavolo">Diavolo</option>
    <option value="Downtown">Downtown</option>
    <option value="Döner">Döner</option>
    <option value="Extra Zutat">Extra Zutat</option>
    <option value="Firebox">Firebox</option>
    <option value="French Cheese">French Cheese</option>
    <option value="Fresh Slice">Fresh Slice</option>
    <option value="Half/Half">Half/Half</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Joker">Joker</option>
    <option value="Lover">Lover</option>
    <option value="Mango">Mango</option>
    <option value="Margherita">Margherita</option>
    <option value="Moon">Moon</option>
    <option value="Palace">Palace</option>
    <option value="Peperoniwurst">Peperoniwurst</option>
    <option value="Pizza Land">Pizza Land</option>
    <option value="Pizza Zoo">Pizza Zoo</option>
    <option value="Power">Power</option>
    <option value="Premium">Premium</option>
    <option value="Salami">Salami</option>
    <option value="Schinken">Schinken</option>
    <option value="Slice">Slice</option>
    <option value="Slice of Heaven">Slice of Heaven</option>
    <option value="Star">Star</option>
    <option value="Sucuk">Sucuk</option>
    <option value="Tonno">Tonno</option>
    <option value="Vegetaria">Vegetaria</option>
    <option value="Wow">Wow</option>                                    

                                </select>
                            </div>
<!-- Select menu for burger name -->
                            <div class="form-group">
                                <label for="DealJoker3">Select Pizza3:</label>
                                <select id="DealJoker3" onchange="getSelectedValue(this)" class="form-control">
    <option value="">Select Pizza3</option>
    <option value="BBQ">BBQ</option>
    <option value="Bayern">Bayern</option>
    <option value="Bella">Bella</option>
    <option value="Bliss">Bliss</option>
    <option value="Bolognese">Bolognese</option>
    <option value="Brano Mia">Brano Mia</option>
    <option value="Broadway">Broadway</option>
    <option value="Burger">Burger</option>
    <option value="Chic">Chic</option>
    <option value="City">City</option>
    <option value="Crispy Slices">Crispy Slices</option>
    <option value="Diavolo">Diavolo</option>
    <option value="Downtown">Downtown</option>
    <option value="Döner">Döner</option>
    <option value="Extra Zutat">Extra Zutat</option>
    <option value="Firebox">Firebox</option>
    <option value="French Cheese">French Cheese</option>
    <option value="Fresh Slice">Fresh Slice</option>
    <option value="Half/Half">Half/Half</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Joker">Joker</option>
    <option value="Lover">Lover</option>
    <option value="Mango">Mango</option>
    <option value="Margherita">Margherita</option>
    <option value="Moon">Moon</option>
    <option value="Palace">Palace</option>
    <option value="Peperoniwurst">Peperoniwurst</option>
    <option value="Pizza Land">Pizza Land</option>
    <option value="Pizza Zoo">Pizza Zoo</option>
    <option value="Power">Power</option>
    <option value="Premium">Premium</option>
    <option value="Salami">Salami</option>
    <option value="Schinken">Schinken</option>
    <option value="Slice">Slice</option>
    <option value="Slice of Heaven">Slice of Heaven</option>
    <option value="Star">Star</option>
    <option value="Sucuk">Sucuk</option>
    <option value="Tonno">Tonno</option>
    <option value="Vegetaria">Vegetaria</option>
    <option value="Wow">Wow</option>                                    

                                </select>
                            </div>

    <label for="DealJoker4">Select Softgetränk:</label>
<select id="DealJoker4" onchange="getSelectedValue(this)" class="form-control">    
    <option value="">Select Softgetränk</option>
    <option value="Coca-Cola">Coca-Cola</option>
    <option value="Coca-Cola Zero">Coca-Cola Zero</option>
    <option value="Fanta">Fanta</option>
    <option value="Mezzo Mix">Mezzo Mix</option>
    <option value="Sprite">Sprite</option>
    <option value="Red Bull">Red Bull</option>
    <option value="Capri Sun Orange oder Multivitamin">Capri Sun Orange oder Multivitamin</option>
    <option value="Apfelsaft">Apfelsaft</option>
    <option value="Bitter Lemon">Bitter Lemon</option>
    <option value="Ginger Ale">Ginger Ale</option>
    <option value="Mango Lassi">Mango Lassi</option>
</select>


                     <h1 class="DealJoker1 d-none"></h1>
                     <h1 class="DealJoker2 d-none"></h1>
                     <h1 class="DealJoker3 d-none"></h1>
                     <h1 class="DealJoker4 d-none"></h1> 
                            

                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;

            

  }else if(title === "Lover Deal"){



    card.classList.add("card", "mb-3");

// Create inner HTML for the card


card.innerHTML = `
<div class="row g-0" id="${product.productId}">
<h1 class="category d-none " id="category" >${product.category}</h1>  
<h1 class="category d-none " id="size" >noSize</h1> 
<div class="row g-0">
<div class="col-lg-4 d-flex justify-content-center p-2">
  <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
</div>
<div class="col-lg-8">
  <div class="card-body">
      <h5 class="card-title" id="proName" >${product.productName}</h5>
      <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
      <!-- Select menu for burger name -->
              <div class="form-group">
                  <label for="DealLove1">Select Pizza1:</label>
                  <select id="DealLove1" onchange="getSelectedValue(this)" class="form-control">
<option value="">Select Pizza1</option>
<option value="BBQ">BBQ</option>
<option value="Bayern">Bayern</option>
<option value="Bella">Bella</option>
<option value="Bliss">Bliss</option>
<option value="Bolognese">Bolognese</option>
<option value="Brano Mia">Brano Mia</option>
<option value="Broadway">Broadway</option>
<option value="Burger">Burger</option>
<option value="Chic">Chic</option>
<option value="City">City</option>
<option value="Crispy Slices">Crispy Slices</option>
<option value="Diavolo">Diavolo</option>
<option value="Downtown">Downtown</option>
<option value="Döner">Döner</option>
<option value="Extra Zutat">Extra Zutat</option>
<option value="Firebox">Firebox</option>
<option value="French Cheese">French Cheese</option>
<option value="Fresh Slice">Fresh Slice</option>
<option value="Half/Half">Half/Half</option>
<option value="Hawaii">Hawaii</option>
<option value="Joker">Joker</option>
<option value="Lover">Lover</option>
<option value="Mango">Mango</option>
<option value="Margherita">Margherita</option>
<option value="Moon">Moon</option>
<option value="Palace">Palace</option>
<option value="Peperoniwurst">Peperoniwurst</option>
<option value="Pizza Land">Pizza Land</option>
<option value="Pizza Zoo">Pizza Zoo</option>
<option value="Power">Power</option>
<option value="Premium">Premium</option>
<option value="Salami">Salami</option>
<option value="Schinken">Schinken</option>
<option value="Slice">Slice</option>
<option value="Slice of Heaven">Slice of Heaven</option>
<option value="Star">Star</option>
<option value="Sucuk">Sucuk</option>
<option value="Tonno">Tonno</option>
<option value="Vegetaria">Vegetaria</option>
<option value="Wow">Wow</option>                                    

                  </select>
              </div>

              <!-- Select menu for burger name -->
              <div class="form-group">
                  <label for="DealLove2">Select Pizzza2:</label>
                  <select id="DealLove2" onchange="getSelectedValue(this)" class="form-control">
<option value="">Select Pizza2</option>                    
<option value="">BBQ</option>
<option value="BBQ">BBQ</option>
<option value="Bayern">Bayern</option>
<option value="Bella">Bella</option>
<option value="Bliss">Bliss</option>
<option value="Bolognese">Bolognese</option>
<option value="Brano Mia">Brano Mia</option>
<option value="Broadway">Broadway</option>
<option value="Burger">Burger</option>
<option value="Chic">Chic</option>
<option value="City">City</option>
<option value="Crispy Slices">Crispy Slices</option>
<option value="Diavolo">Diavolo</option>
<option value="Downtown">Downtown</option>
<option value="Döner">Döner</option>
<option value="Extra Zutat">Extra Zutat</option>
<option value="Firebox">Firebox</option>
<option value="French Cheese">French Cheese</option>
<option value="Fresh Slice">Fresh Slice</option>
<option value="Half/Half">Half/Half</option>
<option value="Hawaii">Hawaii</option>
<option value="Joker">Joker</option>
<option value="Lover">Lover</option>
<option value="Mango">Mango</option>
<option value="Margherita">Margherita</option>
<option value="Moon">Moon</option>
<option value="Palace">Palace</option>
<option value="Peperoniwurst">Peperoniwurst</option>
<option value="Pizza Land">Pizza Land</option>
<option value="Pizza Zoo">Pizza Zoo</option>
<option value="Power">Power</option>
<option value="Premium">Premium</option>
<option value="Salami">Salami</option>
<option value="Schinken">Schinken</option>
<option value="Slice">Slice</option>
<option value="Slice of Heaven">Slice of Heaven</option>
<option value="Star">Star</option>
<option value="Sucuk">Sucuk</option>
<option value="Tonno">Tonno</option>
<option value="Vegetaria">Vegetaria</option>
<option value="Wow">Wow</option>                                    

                  </select>
              </div>
              <h1 class="DealLove1 d-none"></h1>
              <h1 class="DealLove2 d-none"></h1>
      <div class="card_bottom">
          <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
          <h6>${product.Price} €</h6>
          <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
          
          <div class="col-md-4 quantity">
                      <label for="quantity">Quantity:</label>
                      <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                  </div>
      </div>
  </div>
</div>
</div>
</div>
`;

  }else if(title === "Pasta Deal"){

   
    card.classList.add("card", "mb-3");
              // Create inner HTML for the card
              card.innerHTML = `
                <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1>  
        <h1 class="category d-none " id="size" >noSize</h1> 
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <label for="DealPasta1">Select Pasta:</label>
    <select id="DealPasta1" onchange="getSelectedValue(this)" class="form-control">
    <option value="">Select Pasta</option>                  
    <option value="Alla Panna">Alla Panna Pista</option>
    <option value="Casa">Casa Pista</option>
    <option value="Fleischsauce (100% RindHackfleisch Sauce und Tomaten)">Fleischsauce (100% RindHackfleisch Sauce und Tomaten) Pista</option>
    <option value="Hackfleisch Lasagne">Hackfleisch Lasagne Pista</option>
    <option value="Kentucky al Forno">Kentucky al Forno Pista</option>
    <option value="Pavarotti">Pavarotti Pista</option>
    <option value="San Marino">San Marino Pista</option>
    <option value="Vegetaria al Forno">Vegetaria al Forno Pista</option>
    <option value="Vegetarische Tortelini">Vegetarische Tortelini Pista</option>
</select>

<label for="DealPasta2">Select Softgetränk:</label>
<select id="DealPasta2" onchange="getSelectedValue(this)" class="form-control">    
    <option value="">Select Softgetränk</option>
    <option value="Coca-Cola">Coca-Cola</option>
    <option value="Coca-Cola Zero">Coca-Cola Zero</option>
    <option value="Fanta">Fanta</option>
    <option value="Mezzo Mix">Mezzo Mix</option>
    <option value="Sprite">Sprite</option>
    <option value="Red Bull">Red Bull</option>
    <option value="Capri Sun Orange oder Multivitamin">Capri Sun Orange oder Multivitamin</option>
    <option value="Apfelsaft">Apfelsaft</option>
    <option value="Bitter Lemon">Bitter Lemon</option>
    <option value="Ginger Ale">Ginger Ale</option>
    <option value="Mango Lassi">Mango Lassi</option>
</select>


                     <h1 class="DealPasta1 d-none"></h1>
                     <h1 class="DealPasta2 d-none"></h1>
                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;
  }

            // model For Joker Deal


            // Append card to modal body
            document.getElementById("productModalBody").appendChild(card);

            // Open modal
            $('#productModal').modal('show');
          }

          // Function to handle click event on product card


          openModal(product);


        }

        else {
          console.log("🚀 ~ addToCart ~ category:", category);
          title = id.querySelector(".card-title").textContent.trim();
          description = id.querySelector(".card-text").textContent.trim();
          price = id.querySelector(".Price").value;
          imageSrc = id.querySelector(".img-fluid").getAttribute("src");
          product = {
            productId: productId,
            productName: title,
            category: category,
            description: description,
            Price: price,
            Quenty: 1,
            imageSrc: imageSrc,
            category: category,
          };


          function openModal(product) {
            // Clear previous content
            document.getElementById("productModalBody").innerHTML = "";

            // Create card element
            const card = document.createElement("div");
            card.classList.add("card", "mb-3");

            // Create inner HTML for the card
            card.innerHTML = `
    <div class="row g-0" id="${product.productId}">
        <h1 class="category d-none " id="category" >${product.category}</h1>  
        <h1 class="category d-none " id="size" >noSize</h1> 
        <div class="row g-0">
            <div class="col-lg-4 d-flex justify-content-center p-2">
                <img src="${product.imageSrc}" id ="src"  class="img-fluid rounded-3 w-100" alt="${product.productName}">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h5 class="card-title" id="proName" >${product.productName}</h5>
                    <p class="card-text clamp-line-3" id="proDes">${product.description}</p>
                    <div class="card_bottom">
                        <input type="text" id="price" value="${product.Price}" class="Price" style="display: none;">
                        <h6>${product.Price} €</h6>
                        <button class="btn btn-primary addToCart" onclick="ProductAddToCart('${product.productId}')" >Add To Cart</button>
                        <div class="col-md-4 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input id="quantity" type="number" value="1" min="1" class="form-control quantity-input">
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  `;


  
            // Append card to modal body
            document.getElementById("productModalBody").appendChild(card);

            // Open modal
            $('#productModal').modal('show');
          }

          // Function to handle click event on product card


          openModal(product);




        }


        // Function to open modal with product details

      }

      function getSelectedValue(dropdown) {
        console.log("dropdown id",dropdown.id)
            var selectedValue = dropdown.value;
            console.log("Selected value: " + selectedValue);
            if (dropdown.id === "DealBurger1") {
           let DealBurger1Element = document.querySelector(".DealBurger1");
            DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
                }
            else if (dropdown.id === "DealBurger2") {
            let DealBurger1Element = document.querySelector(".DealBurger2");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
      
             else if (dropdown.id === "DealBurger3") {
            let DealBurger1Element = document.querySelector(".DealBurger3");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
             else if (dropdown.id === "DealBurger4") {
            let DealBurger1Element = document.querySelector(".DealBurger4");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
             else if (dropdown.id === "DealBurger5") {
            let DealBurger1Element = document.querySelector(".DealBurger5");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
             else if (dropdown.id === "DealJoker1") {
            let DealBurger1Element = document.querySelector(".DealJoker1");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }

             else if (dropdown.id === "DealJoker2") {
            let DealBurger1Element = document.querySelector(".DealJoker2");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }

             else if (dropdown.id === "DealJoker3") {
             let DealBurger1Element = document.querySelector(".DealJoker3");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
             else if (dropdown.id === "DealJoker4") {
             let DealBurger1Element = document.querySelector(".DealJoker4");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
             else if (dropdown.id === "DealLove1") {
             let DealBurger1Element = document.querySelector(".DealLove1");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             }
             else if (dropdown.id === "DealLove2") {
             let DealBurger1Element = document.querySelector(".DealLove2");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             } 
             else if (dropdown.id === "DealPasta1") {
             let DealBurger1Element = document.querySelector(".DealPasta1");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             } 
             else if (dropdown.id === "DealPasta2") {
             let DealBurger1Element = document.querySelector(".DealPasta2");
             DealBurger1Element.textContent = dropdown.value;
            // alert(DealBurger1Element.textContent);
             } 

}
    
      function ProductAddToCart(id) {

        $('#productModal').modal('hide');
        var categoryValue = document.getElementById("category").innerHTML;
        var proNameValue = document.getElementById("proName").innerHTML;
        var proDesValue = document.getElementById("proDes").innerHTML;
        var priceValue = document.getElementById("price").value;
        var quantityValue = document.getElementById("quantity").value;
        var src = document.getElementById("src").src;
        var size = document.getElementById("size").innerHTML;
        

        let productOrder = {
          productId: id,
          productName: proNameValue,
          category: categoryValue,
          description: proDesValue,
          Price: priceValue,
          Quenty: quantityValue,
          imageSrc: src,
          size: size,
        }

        if (categoryValue === "Pizza") {
          productOrder.size = size
        }
        if(categoryValue ==="Deal"){
          if(proNameValue==="Burger Deal"){
           var  bug1= document.querySelector(".DealBurger1").innerHTML
           var  bug2= document.querySelector(".DealBurger2").innerHTML
           var  beilagen1= document.querySelector(".DealBurger3").innerHTML
           var  beilagen2= document.querySelector(".DealBurger4").innerHTML
           var  beilagen3= document.querySelector(".DealBurger5").innerHTML

    
           console.log("The name of deal is Burger Deal")
           productOrder.description = `Du suchst aus
 ${bug1} , ${bug2} , ${beilagen1} , ${beilagen2} Und ${beilagen3} `

        }else if(proNameValue==="Joker Deal"){
           var  DealJoker1= document.querySelector(".DealJoker1").innerHTML
           var  DealJoker2= document.querySelector(".DealJoker2").innerHTML
           var  DealJoker3= document.querySelector(".DealJoker3").innerHTML
           var  DealJoker4= document.querySelector(".DealJoker4").innerHTML
           console.log("The name of deal is Joker Deal")

         productOrder.description = `Du suchst aus  ${DealJoker1} , ${DealJoker2} , ${DealJoker3} und ${DealJoker4} `

        }else if(proNameValue==="Lover Deal"){
           var  DealLove1= document.querySelector(".DealLove1").innerHTML
           var  DealLove2= document.querySelector(".DealLove2").innerHTML
           console.log("The DealLove2 is  ",DealLove2)
           
           console.log("The name of deal is lover Deal")

         productOrder.description = `Du suchst aus  ${DealLove1}  und ${DealLove2}`

        }else if(proNameValue==="Pasta Deal"){
           var  DealPasta1= document.querySelector(".DealPasta1").innerHTML
           var  DealPasta2= document.querySelector(".DealPasta2").innerHTML
           console.log("The name of deal is Pasta Deal")
          
         productOrder.description = `Du suchst aus ${DealPasta1} und ${DealPasta2}`

        }

      

        }
      
        function getOrder() {
          let cartOrder = window.localStorage.getItem("order");
          return cartOrder ? cartOrder : "";
        }
        let orderToken = getOrder();
        console.log("The get order from local storage is ", getOrder());


        let payload = {
          orderToken: orderToken,
          order: productOrder,
        };

        let payloadJSON = JSON.stringify(payload);

        let url = "https://jokerpalace.de/api/user/addToCart";

        fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: payloadJSON,
        })
          .then((response) => response.json()) // Parse response as JSON
          .then((data) => {
            console.log("Response data:", data);
            if (data?.statusCode === 201) {
              let cartCount = getCartCount() + 1;
              localStorage.setItem("order", data.data);
              updateCartCount(cartCount);
            }
            Swal.fire({
              title: data?.message,
              icon: "success",
              confirmButtonText: "OK",
            });
          })
          .catch((error) => {
            console.error("Error:", error);
          });

        
      }

    </script>


<script>
       
          
  </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js">
