 <section class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Best Seller</h5>
            <h1 class="mb-5">Our Hot Deals</h1>
        </div>

        <div class="owl-carousel popular-deal-carousel">
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/pizza.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Burger Deal</h5>
                        <p class="card-text clamp-line-3">2 x Burger aus der Liste nach Wahl
                            2 x Beilagen aus der Liste nach Wahl
                            1 x Softdrink 1,0 l nach Wahl</p>
                            <h6> 22.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/pasta.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Joker Deal</h5>
                        <p class="card-text clamp-line-3">3 x Medium Pizzen aus der Liste nach Wahl
                            1 x Softgetränk 1,0 l nach Wahl</p>
                            <h6> 27.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/chicken.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Lover Deal</h5>
                        <p class="card-text clamp-line-3">2 x Medium Pizzen aus der Liste nach Wahl
                            Mix-Salat mit Pizzabrötchen
                            und Essig-Öl oder Joghurt Dressing</p>
                            <h6> 24.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/burger.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pasta Deal</h5>
                        <p class="card-text clamp-line-3">2 x Pasta aus der Liste nach Wahl
                            1 x Softgetränk 1,0 l nach Wahl
                            </p>
                            <h6> 22.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/pizza.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Pasta Deal</h5>
                        <p class="card-text clamp-line-3">2 x Pasta aus der Liste nach Wahl
                            1 x Softgetränk 1,0 l nach Wahl</p>
                        <h6> 22.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/burger.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Burger Deal</h5>
                        <p class="card-text clamp-line-3">2 x Burger aus der Liste nach Wahl
                            2 x Beilagen aus der Liste nach Wahl
                            1 x Softdrink 1,0 l nach Wahl</p>
                        <h6> 22.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card rounded-5 popular-deal__card">
                    <img src="/assets/img/chicken.webp" class="card-img-top rounded-6 p-3" alt="pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">Joker Deal</h5>
                        <p class="card-text clamp-line-3">3 x Medium Pizzen aus der Liste nach Wahl
                            1 x Softgetränk 1,0 l nach Wahl</p>
                        <h6>  27.50 €</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Dishes Start