<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Details</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>

  <body>
    <h2>Order Details</h2>
    <p><strong>User Information:</strong></p>
    <p>FullName: <%= order.fullName %></p>
    <p>Email: <%= order.email %></p>
    <p>Address: <%= order.address %></p>
    <p>Phone: <%= order.phone %></p>
    <p>Payment Method: <%= order.paymentMethod %></p>
      <% if (order.paymentMethod === "paypal") { %>
      <p>PayerID: <%= order.payerID %></p>
      <% } else { %>
      <% } %>
    
      
    <p>Delivery Type: <%= order.deliveryType %></p>
    <p>totalItem: <%= order.totalItem %></p>
    <p>Subtotal: <%= order.Subtotal %></p>
    <p>total: <%= order.total %></p>
   

    <h3>Products Ordered:</h3>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Total Price</th>
          <th>Quantity</th>
          <th>Size</th>
          <th>category</th>
        </tr>
      </thead>
      <tbody>
        <% productDetails.forEach(function(product) { %>
        <tr>
          <td><%= product.productName %></td>
          <td><%= product.Price %></td>
          <td><%= product.prodcuPrice %></td>
          <td><%= product.Quenty %></td>
          <td><%= product.size %></td>
          <% if (product.size === "Pizza") { %>
          <td><%= product.size %></td>
          <% } else { %>
          <td></td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
